.place__paragraphs {
    grid-column: 2;
    object-fit: contain;
}

@media screen and (max-width: 710px) {
    .place__paragraphs {
        margin-left: 16px;
        margin-right: 16px;
        align-self: center;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraphs {
        margin-left: 16px;
        margin-right: 16px;
    }
}