.footer__links {
    list-style: none;
    display: flex;
    width: 50%;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (max-width: 690px) {
    .footer__links {
        flex-direction: column;
    }
}