.place__paragraph {
    font-size: 18px;
    line-height: 167%;
    margin-top: 0;
    margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 162%;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 162%;
    }
}