 .place {
     display: grid;
     object-fit: contain;
     box-sizing: border-box;
     grid-template-columns: 1.02fr 1.05fr;
     grid-gap: 48px 40px;
     margin-top: 92px;
 }
 
 @media screen and (max-width: 1024px) {
     .place {
         grid-gap: 48px 32px;
         grid-template-columns: 1.02fr 1.05fr;
     }
 }
 
 @media screen and (max-width: 768px) {
     .place {
         grid-gap: 48px 28px;
         margin-top: 88px;
     }
 }
 
 @media screen and (max-width: 710px) {
     .place {
         display: flex;
         flex-direction: column;
         padding-left: 0;
         padding-right: 0;
         margin-top: 24px;
         margin-bottom: 0;
         margin-top: 64px;
     }
 }