 .place {
     display: grid;
     object-fit: contain;
     box-sizing: border-box;
     grid-template-columns: fit-content(460px) fit-content(484px);
     grid-template-rows: auto 460px;
     grid-gap: 48px 40px;
     margin-top: 92px;
 }
 
 @media screen and (max-width: 1024px) {
     .place {
         grid-gap: 48px 32px;
         grid-template-columns: fit-content(440px) fit-content(456px);
         grid-template-rows: auto 440px;
     }
 }
 
 @media screen and (max-width: 768px) {
     .place {
         grid-gap: 48px 28px;
         margin-top: 88px;
         grid-template-columns: fit-content(340px) fit-content(352px);
         grid-template-rows: auto 388px;
     }
 }
 
 @media screen and (max-width: 320px) {
     .place {
         display: flex;
         flex-direction: column;
         padding-left: 0;
         padding-right: 0;
         margin-top: 24px;
     }
 }